<div class="hero-container">

   <div class="hero-container__create-box" *ngIf="isCreateProjectBoxOpen">
      <app-create-project-box [allProjects]="allProjects"></app-create-project-box>
   </div>

   <div class="hero-container__body">
      
      <div class="table-options">
         <mat-form-field class="filter-input" title="Search by keyword">
            <mat-label class="filter-label">Search by keyword</mat-label>
            <input matInput (keyup)="applyFilter($event)" class="filter-input-text">
         </mat-form-field>

         <div class="table-options__btns">
            <div
               class="view-projects-btn view-projects-btn--all"
               (click)="displayAllProjects()"
               title="All Projects"> 
               <h5 class="view-projects-btn__text">All Projects</h5>
            </div>
   
            <div
               class="view-projects-btn view-projects-btn--my"
               (click)="displayMyProjects()"
               title="My managed projects"> 
               <h5 class="view-projects-btn__text">My managed projects</h5>
            </div>
   
            <div
               class="create-project-box"
               *ngIf="!isCreateProjectBoxOpen"
               (click)="showCreateBox()"
               title="Create Project">
               <svg class="create-project__icon">
                  <use xlink:href="../../../../assets/sprite.svg#icon-note-add"></use>
               </svg>
               <h4 class="create-text">Create Project</h4>
            </div>
         </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
           <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.name}} </td>
         </ng-container>
       
         <ng-container matColumnDef="reporterFirstName">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Reporter<br>First Name</th>
           <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)">{{ element.reporterFirstName}}</td>
         </ng-container>

         <ng-container matColumnDef="reporterLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reporter<br>Last Name</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)">{{ element.reporterLastName}}</td>
         </ng-container>
       
         <ng-container matColumnDef="status">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
           <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.status}} </td>
         </ng-container>

         <ng-container matColumnDef="currentStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Status</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.currentStatus}} </td>
         </ng-container>

         <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date<br>(MM-DD-YYYY)</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.start}} </td>
         </ng-container>

         <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date<br>(MM-DD-YYYY)</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.end}} </td>
         </ng-container>

         <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Target (days)</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.target}} </td>
         </ng-container>

         <ng-container matColumnDef="managementTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Management<br>Time (h)</th>
            <td mat-cell *matCellDef="let element"(click)="openProject(element.projectUrl)"> {{element.managementTime}} </td>
         </ng-container>

         <ng-container matColumnDef="complete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Complete (days)</th>
            <td mat-cell *matCellDef="let element" (click)="openProject(element.projectUrl)"> {{element.complete}} </td>
         </ng-container>
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons class="paginator"></mat-paginator>

   </div>

</div>
