<div class="dashboard-container">

  <div class="dashboard-container__projects">
    <app-single-user-projects></app-single-user-projects>
  </div>
  
  <div class="dashboard-container__user">
    <app-single-user-profile></app-single-user-profile>
  </div>
 
</div>