<div class="main-div">
  <mat-card class="login-card" layout="row" layout-align="center center">

    <div class="login-box-header" layout="row" layout-align="center center">
      <img class="logo" src="../../../assets/logo_light.png">
    </div>

    <mat-card-content class="main-content">
      <form class="log-form" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="log-full-width">
          <mat-label>Your email</mat-label>
          <input matInput type="email" name="email" formControlName="email">
          <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>

        <mat-form-field class="log-full-width">
          <mat-label>Your password</mat-label>
          <input matInput type="password" name="password" formControlName="password">
          <!-- <mat-hint>Please enter your password.</mat-hint> -->
          <mat-error>Missing password.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="log-button" [disabled]="loginForm.invalid">Login</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>