.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f2027;
  background: linear-gradient(to bottom left, #32414d, #1e272e);
}

.logo {
  width: 37rem;
  border-right: 1px solid var(--color-gray-medium);
}

.login-card {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 5rem;
  justify-content: center;
  align-items: center;

  height: 40rem;

  box-shadow: none !important;

  background-color: transparent;
  padding: 5rem;
  border: 1px solid var(--color-gray-dark);
  border-radius: 1rem;
}

mat-error {
  color: var(--color-red-dark);
  font-size: 1.3rem;
}

.log-button {
  background-color: var(--color-red-dark);
  font-size: 1.7rem;
}

.log-full-width {
  margin-bottom: 2rem;
}