.mat-card {
    font-family: inherit;
    width: 27rem;
    border-radius: 1rem;
    background-color: var(--color-gray-darken);
    cursor: pointer;
    box-shadow: var(--shadow-all-sides);
}

.mat-card-header {
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}

.mat-card-subtitle {
    margin: 0 !important;
}

.status-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
}

.subtitle-text--status {
    color: var(--color-green-dark);
}

.subtitle-text--status-over {
    color: var(--color-red-dark);
}

.subtitle-text--status-pending {
    color: var(--color-yellow-dark);
}

.subtitle-text--days {
    color: var(--color-red-dark);
}

.text-management-time {
    color: var(--color-yellow-dark);
    margin-bottom: 1rem !important;
}

.description-text {
    font-size: 1.3rem;
}

.date-box {
    margin-bottom: 2rem;
}

.date-box__text--options {
    text-transform: uppercase;
    color: var(--color-gray-line-light);
}

.date-box__text--options-never {
    text-transform: uppercase;
    color: var(--color-red-dark);
}

.date-box__text--options-ok {
    text-transform: uppercase;
    color: var(--color-green-dark);
}

.date-box__text--options-pending {
    text-transform: uppercase;
    color: var(--color-yellow-dark);
}

.left-days-box {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--color-yellow-dark);
    color: var(--color-gray-dark);
}

.left-days__text--number {
    font-size: 2.2rem;
}

.left-days__text--text {
    font-size: .8rem;
}

.team-box__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: var(--shadow-all-sides);
}
.team-box__img:not(:last-child) {
    margin-right: -.5rem;
}
