<mat-card>
    <mat-card-header>
      <mat-card-title>{{ this.project.name }}</mat-card-title>
      <div class="status-box">
        <mat-card-subtitle class="subtitle-text--status">{{ this.project.status }}&nbsp;/</mat-card-subtitle>
        <mat-card-subtitle
            class="subtitle-text--status-over"
            *ngIf="this.project.currentStatus === 'Overdue Target'">
            &nbsp;{{ this.project.currentStatus }}
        </mat-card-subtitle>

        <mat-card-subtitle
            class="subtitle-text--status"
            *ngIf="this.project.currentStatus === 'Within Target'">
            &nbsp;{{ this.project.currentStatus }}
        </mat-card-subtitle>

        <mat-card-subtitle
            class="subtitle-text--status-pending"
            *ngIf="this.project.currentStatus === 'Pending'">
            &nbsp;{{ this.project.currentStatus }}
        </mat-card-subtitle>
      </div>

      <div class="left-days-box">
          <span class="left-days__text--number">{{ this.daysLeft }}</span>
          <span class="left-days__text--text">Days left</span>
      </div>
    </mat-card-header>

    <mat-card-content>
        <p class="description-text">{{ this.project.description.slice(0, 150).concat('...') }}</p>

        <h4 class="text-management-time">Management Time: {{ this.project.managementTime }}&nbsp;h/day</h4>

        <div class="date-box">
            <h5 class="date-box__text--options">Start:&nbsp;&nbsp;{{ this.project.start | date: 'fullDate'}}</h5>
            <h5 class="date-box__text--options">End:&nbsp;&nbsp;{{ this.project.end | date: 'fullDate'}}</h5>
            <h5 class="date-box__text--options">Planned time: {{ this.project.target }} days </h5>
            <h5 class="date-box__text--options" *ngIf="this.project.complete === 'never'">
                Complete:&nbsp;
                <span class="date-box__text--options-never">
                    {{ this.project.complete }}
                </span>
            </h5>
            <h5 class="date-box__text--options" *ngIf="this.project.complete !== 'never'">
                Complete:&nbsp;
                <span class="date-box__text--options-never" *ngIf="this.project.currentStatus === 'Overdue Target'">
                    {{ this.project.complete }}
                </span>
                <span class="date-box__text--options-ok" *ngIf="this.project.currentStatus === 'Within Target'">
                    {{ this.project.complete }}
                </span>
                <span class="date-box__text--options-pending" *ngIf="this.project.currentStatus === 'Pending'">
                    {{ this.project.complete }}
                </span>
                &nbsp;days
            </h5>
        </div>

        <mat-card-actions>
            <button mat-button (click)="openProject(project.projectUrl)">VIEW</button>
        </mat-card-actions>
        
    </mat-card-content>

</mat-card>
