<div class="create-project-skill-box">

    <div class="skill-box__skill">
      <mat-form-field class="form-input form-input--skill">
        <mat-label>Skill</mat-label>
        <mat-select
          (selectionChange)="saveSelectedSkill($event.value)"
          (click)="getSkills()"
          title="Skill">
          <mat-option [value]="skill" *ngFor="let skill of currentSkillsList">{{ skill.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-input form-input--target">
        <mat-label>Target</mat-label>
        <input matInput [(ngModel)]="skillTarget" (change)="saveTarget()">
        <mat-hint>Hours</mat-hint>
      </mat-form-field>

      <div class="info__box" [ngStyle]="{'background-color': getCompleteBoxColor()}">
        <h6 class="info__text">Complete</h6>
        <h3 class="info__text info__text--action">
          {{ this.skillComplete }}<span class="text-days">/&nbsp;days</span>
        </h3>
      </div>
    </div>

    <div class="skill-box__employee">

      <div class="skill-box__employee-options">
        <mat-form-field class="form-input form-input--employee">
          <mat-label>Employee</mat-label>
          <mat-select
            [(ngModel)]="selectedEmployee"
            (selectionChange)="getEmployeeFreeTime($event.value.freeTime)"
            (click)="getInfo()"
            title="Employee">
            <mat-option
              [value]="employee"
              *ngFor="let employee of sortedEmployeesList">
              {{ employee.firstName }}&nbsp;{{ employee.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <div class="select-hours">
          <mat-slider
            thumbLabel
            step="0.5"
            tickInterval="1"
            min="0"
            [max]="freeHours"
            [(ngModel)]="slectedHours"
            (valueChange)="saveWorkHours($event)">
          </mat-slider>
          <mat-hint class="hint__free-hours">Free hours: {{ this.freeHours }}</mat-hint>
        </div>
      </div>

      <mat-button-toggle
        aria-label="Add employee"
        title="Add Employee"
        class="btn btn--add-employee"
        (click)="addEmployee()">
        <mat-icon>person_add</mat-icon>
      </mat-button-toggle>
  
    </div>

    <div class="skill-box__employees-container">
      <app-skill-employee-box
        *ngFor="let employee of employeesList"
        [employee]="employee"
        (eventDeleteEmployee)="deleteEmployee($event)"
        (eventUpdateEmployee)="updateEmployee($event)">
      </app-skill-employee-box>
    </div>

    <div class="skill-box__action-btns">
      <mat-button-toggle
      class="btn btn--save"
      (click)="saveSkillBox()"
      title="Save Skill">
      Save Skill
    </mat-button-toggle>
    </div>
</div>
