.create-project-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-gray-dark);
    border-radius: 1rem;
    padding: .5rem;
}

.create-project-box__header {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 3rem;
    padding: 2rem;
    border-right: 1px solid var(--color-gray-medium);
}

.create-project-box__inputs {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
}

.form-input {
    width: 100%;
    color: var(--color-gray-light);
    font-size: 1.7rem;
}

.form-input--skill {
    font-size: 1.5rem;
}

mat-label {
    font-size: 1.5rem;
    color: var(--color-gray-light);
}

.mat-form-field {
    font-family: inherit;
}

.form-input__textarea {
    height: 6rem !important;
    padding-bottom: 1rem;
}

.form-input--target {
    width: 8rem;
    font-size: 1.4rem;
}

.form-input--name {
    padding-bottom: 2rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
    padding: 0 0 0 .5rem !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1.4rem;
}

::ng-deep .mat-input-element {
    caret-color: var(--color-gray-light);
}

::ng-deep .mat-form-field-infix {
    border: none;
}

.create-project-box__options {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
    gap: 1rem;
    padding-top: .5rem;
}

.option__add-skill {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4rem;
    border: 1px solid var(--color-gray-medium);
    border-radius: 1rem;
    padding: 2rem 1rem .5rem 1rem;
}

::ng-deep .mat-select-panel {
    background-color: var(--color-gray-darken);
}

.create-project-box__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 7rem;
    width: 100%;
    border: 1px solid var(--color-gray-medium);
    border-radius: 1rem;
    padding: 2rem 0;
}

.info__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 15rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-all-sides);
}

.info__box--target {
    background-color: var(--color-gray-darken);
}

.info__box--complete {
    background-color: var(--color-green-dark);
}

.info__text {
    color: var(--color-gray-light);
}

.text-days {
    font-size: .8rem;
    margin-left: .3rem;
}

.btn {
    border-radius: 1rem !important;
    background-color: inherit;
    font-size: 1.5rem;
    color: var(--color-gray-light);
    border: 1px solid var(--color-gray-darken);
    font-family: inherit;
}

.btn--add-skill {
    background-color: var(--color-gray-darken);
}

.create-project-box__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: start;
    width: 70%;
    justify-self: center;
}

.btn--save {
    background-color: var(--color-gray-darken);
    border: none;
}

.btn--cancel {
    background-color: var(--color-gray-dark);
}

.create-project-box__body {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--color-gray-light);
}

.body__skill-box-container {
    max-height: 20rem;
    display: grid;
    align-items: flex-start;
    gap: .5rem;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body__skill-box {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--color-gray-medium);
    border-radius: 1rem;
    padding: 1rem;
}

.skill-box__employees-container {
    display: grid;
    gap: .3rem;
    align-items: flex-start;
    padding: .5rem 1rem;
    max-height: 8rem;
    max-width: 19rem;
    min-width: 15rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: 1rem;
    justify-self: end;
    overflow-y: scroll;
    overflow-x: hidden;
}

.skill-box__employee {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5rem;
    justify-content: space-between;
}

.skill-box__header-info {
    margin-right: 3rem;
}

.skill-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    padding: .5rem;
    margin-left: auto;
    border-radius: 1rem;
}

.skill-box-info--target {
    border: 1px solid var(--color-gray-dark);
    margin-bottom: .5rem;
}

.skill-box-info--complete {
    background-color: var(--color-gray-dark);
}

.skill-box-info__text {
    color: var(--color-gray-light);
}

::ng-deep .mat-slider-track-background {
    background-color: var(--color-green-dark);
}

::ng-deep .mat-slider-track-fill {
    background-color: var(--color-red-dark) !important;
}

::ng-deep .mat-slider-thumb,
::ng-deep .mat-slider-thumb-label {
    background-color: var(--color-gray-darken) !important;
}

::ng-deep .mat-slider-thumb-label-text {
    color: var(--color-gray-light) !important;
}

.management-time-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    background-color: var(--color-gray-medium);
    padding: 1rem;
    border-radius: 1rem;
}

.management-time-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-dark);
    border-radius: 1rem;
    padding: 0 1rem;
}

.manage-text {
    color: var(--color-gray-light);
    text-transform: uppercase;
    justify-self: center;
}

.manage-text-number {
    color: var(--color-blue-medium);
    font-size: 2rem;
}

.manage-text-number-info {
    color: var(--color-blue-medium);
    font-size: 1rem;
    text-transform: none;
}

.hint__free-hours {
    font-size: 1rem;
    margin-left: .5rem;
}

::ng-deep .mat-datepicker-content {
    background-color: var(--color-gray-darken);
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--color-green-dark);
}

::ng-deep .mat-icon-button {
    color: var(--color-gray-light);
}

.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-medium);
    padding: 1rem;
    border-radius: 1rem;
}
