<div class="create-project-box">
    <form [formGroup]="projectCreateForm" (ngSubmit)="saveProject()" class="create-project-box__header">
        <div class="create-project-box__inputs">
            
            <mat-form-field appearance="fill" class="form-input form-input--name">
                <mat-label>Project Name</mat-label>
                <input
                    matInput
                    name="projectName"
                    formControlName="projectName">
                <mat-error>Missing or invalid name. Name must be between 5 and 50 symbols!</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-input form-input--description">
                <mat-label>Project Description</mat-label>
                <textarea
                    matInput
                    class="form-input__textarea"
                    name="projectDescription"
                    formControlName="projectDescription">
                </textarea>
                <mat-error>Missing or invalid description. Description must be between 10 and 300 symbols!</mat-error>
            </mat-form-field>
    
            <div class="create-project-box__options">

                <mat-form-field class="date-box">
                    <mat-label>Project Еnd Date</mat-label>
                    <input matInput
                    [min]="startDate"
                    [matDatepickerFilter]="businessDayFilter"
                    [matDatepicker]="picker"
                    (dateChange)="saveTarget($event.value)"
                    disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

                <div class="management-time-box">
                    <div class="">
                        <h4 class="manage-text">Management Time:</h4>
                        <div class="select-hours">
                            <mat-slider
                              thumbLabel
                              step="0.5"
                              tickInterval="1"
                              min="0"
                              [max]="reporterFreeHours"
                              [(ngModel)]="managementTime"
                              (valueChange)="saveReporterWorkHours($event)"
                              [ngModelOptions]="{standalone: true}">
                            </mat-slider>
                            <mat-hint class="hint__free-hours">Free hours: {{ this.reporterFreeHours }}</mat-hint>
                        </div>
                    </div>
                    <div class="management-time-indicator" title="Selected hours">
                        <span class="manage-text-number">{{ this.managementTime }}</span>
                        <span class="manage-text-number-info">h / day</span>
                    </div>
                    
                </div>

            </div>            
        
        </div>

        <div class="create-project-box__info">
            <div class="info__box info__box--target">
                <h4 class="info__text">Target</h4>
                <h2 class="info__text info__text--action">{{ this.projectTarget }}<span class="text-days">/&nbsp;days</span></h2>
            </div>
            
            <div class="info__box info__box--complete"
                [ngStyle]="{'background-color': getCompleteBoxColor(this.projectComplete)}">
                <h4 class="info__text">Complete</h4>
                <h2 class="info__text info__text--action">{{ this.projectComplete }}<span class="text-days">/&nbsp;days</span></h2>
            </div> 
        </div>         

        <div class="create-project-box__actions">
            <button type="submit" mat-raised-button class="btn btn--save" [disabled]="projectCreateForm.invalid">Save</button>
            <mat-button-toggle class="btn btn--cancel" (click)="hideCreateProjectBox()">Cancel</mat-button-toggle>
        </div>
    </form>

    <div class="create-project-box__body">

        <app-create-project-box-skill-box (eventAddSkillBox)="addSkillBox($event)"></app-create-project-box-skill-box>

        <div class="body__skill-box-container">
            
            <div class="body__skill-box" *ngFor="let skillBox of skillBoxList">

                <h3 class="info__text">{{ skillBox.skill.name }}</h3>

                <div class="skill-box__employees-container">

                    <div class="skill-box__employee" *ngFor="let skillBoxEmployee of skillBox.employeesList">
                        <h5 class="info__text">{{ skillBoxEmployee.firstName }}  {{ skillBoxEmployee.lastName }}</h5>
                        <h6 class="info__text">{{ skillBoxEmployee.currentWorkHours }} /hours</h6>
                    </div>
                    
                </div>

                <div class="skill-box__header-info">
                    <div class="skill-box-info skill-box-info--target">
                        <h6 class="skill-box-info__text">Target</h6>
                        <h4 class="skill-box-info__text skill-box-info__text--action">
                            {{ skillBox.target }}<span class="text-days">/&nbsp;hours</span>
                        </h4>
                    </div>

                    <div class="skill-box-info skill-box-info--complete"
                        [ngStyle]="{'background-color': getCompleteBoxColor(skillBox.complete)}">
                        <h6 class="skill-box-info__text">Complete</h6>
                        <h4 class="skill-box-info__text skill-box-info__text--action">
                            {{ skillBox.complete }}<span class="text-days">/&nbsp;days</span>
                        </h4>
                    </div>
                </div>

                <mat-icon class="close-icon" title="Remove Skill" (click)="removeSkillBox(skillBox)">close</mat-icon>

            </div>

        </div>

    </div>
</div>
