.create-project-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.crate-project-box__header {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 3rem;
  padding: 1rem 2rem;
}

.create-project-box__inputs {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  align-items: flex-start;

  width: 100%;
}

.form-input {
  width: 100%;
  color: var(--color-gray-darken);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

mat-label {
  font-size: 1.5rem;
  color: var(--color-gray-darken);
}

.form-input--target {
  width: 10rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  padding: 0 0 0 .5rem !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1.4rem;
}

::ng-deep .mat-input-element {
  caret-color: var(--color-gray-light);
}

::ng-deep .mat-form-field-infix {
  border: none;
}

.create-project-box__options {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

.create-project-box__info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 7rem;

  width: 100%;
  border: 1px solid var(--color-gray-medium);
  border-radius: 1rem;
  padding: 2rem 0;
}

.info__box--target {
  background-color: var(--color-gray-darken);
}

.info__text {
  color: var(--color-gray-light);
}

.btn {
  margin-top: 3rem;
  border-radius: 1rem !important;
  background-color: inherit;
  font-size: 1.5rem;
  color: var(--color-gray-light);
  box-shadow: var(--shadow-all-sides);
  border: none;
  font-family: inherit;
}

.btn--save {
  background-color: var(--color-gray-darken);
}




.form-title {
  background-color: var(--color-gray-darken);
  color : var(--color-gray-light);
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.role-label {
  margin-bottom: 1.5rem;
}

.check-option {
  margin-right: 2rem;;
}

.form-input--target {
  width: 10rem;
  font-size: 2rem;
}

.avatar {
  margin-bottom: 3rem;
}

.img-avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
}