<div class="create-project-box">

  <div class="crate-project-box__header">
    <div class="form-title">
      Create User:
    </div>

    <div class="avatar">
      <img class="img-avatar" src="{{avatarUrl}}">
      <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div class="create-project-box__inputs">
        <mat-form-field appearance="fill" class="form-input form-input--email">
            <mat-label>User email</mat-label>
            <input matInput type="email" name="email" formControlName="email">
            <mat-error>Missing or invalid email.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--password">
            <mat-label>User Password</mat-label>
            <input matInput type="password" name="password" formControlName="password">
            <mat-error>Missing password.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--firstName">
            <mat-label>User First Name</mat-label>
            <input matInput type="text" name="firstName" formControlName="firstName">
            <mat-error>First Name is required!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="form-input form-input--lastName">
            <mat-label>User Last Name</mat-label>
            <input matInput type="text" name="lastName" formControlName="lastName">
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--position">
            <mat-label>User Position</mat-label>
            <input matInput type="text" name="position" formControlName="position">
            <mat-error>User Position is required!</mat-error>
        </mat-form-field>

        <div class="boss-box">
          <mat-form-field class="form-input form-input--boss">
            <mat-label>Direct Manager</mat-label>
            <mat-select (selectionChange)="saveSelectedBoss($event.value)" (click)="getUsers()">
              <mat-option [value]="user" *ngFor="let user of currentUsersList">{{ user.firstName }} {{ user.lastName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="subordinates-box">
          <mat-form-field class="form-input form-input--boss">
            <mat-label>Subordinates</mat-label>
            <mat-select (selectionChange)="saveSelectedSubordinate($event.value)" (click)="getSubordinates()">
              <mat-option [value]="sub" *ngFor="let sub of currentSubList">{{ sub.firstName }} {{ sub.lastName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <label class="role-label">User Role:</label>
          <mat-radio-group>
            <mat-checkbox class="check-option" formControlName="isManager">Manager</mat-checkbox>
            <mat-checkbox class="check-option" formControlName="isAdmin">Admin</mat-checkbox>
            <mat-checkbox class="check-option" formControlName="selfManaged">Self Managed</mat-checkbox>
          </mat-radio-group>

        <button type="submit" mat-raised-button class="btn btn--save" [disabled]="registerForm.invalid">Create</button>
      </div>

    </form>

  </div>
  
</div>