<div class="projects-box">

  <div class="projects-box__heading">
      <h2 class="project-box__text">Pending Projects</h2>
  </div>

  <h2 class="project-box__text--no" *ngIf="!ownProjects?.length">No Active Projects!</h2>

  <div class="projects-box__body" *ngIf="ownProjects?.length">

      <div class="projects-box__pending">

          <app-project-box-mid *ngFor="let ownProject of ownProjects" [project]="ownProject"></app-project-box-mid>

      </div>

      <div class="projects-box__chart">
      
          <app-pending-projects-chart></app-pending-projects-chart>
  
      </div>

  </div>
</div>
