<div class="skills-container">

   <div class="skills__options">
      <mat-form-field class="filter-input" title="Search by keyword">
         <mat-label class="filter-label">Search by keyword</mat-label>
         <input matInput (keyup)="applyFilter($event)" class="filter-input-text">
      </mat-form-field>

      <form [formGroup]="addSkillForm" (ngSubmit)="addSkill()" class="add-skill-box">

         <mat-form-field appearance="fill" class="form-input--skill">
            <mat-label class="skill-label">Skill Name</mat-label>
            <input
               matInput
               name="skillName"
               formControlName="skillName">
            <mat-error class="text-error">Skill name must be between 1 and 20 symbols!</mat-error>
         </mat-form-field>

         <button
            type="submit"
            mat-raised-button
            class="add-skill-btn"
            [disabled]="addSkillForm.invalid"
            title="Add Skill">
            <h5 class="add-skill-btn__text">Add Skill</h5>
         </button>

      </form>

   </div>

   <div class="table">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
         <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Skill</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
      </table>
   
      <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons class="paginator"></mat-paginator>

   </div>

</div>