.skills-container {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 1rem;
}

.skills__options {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.skill-label {
    font-size: 1.4rem;
    color: var(--color-gray-darken);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}

.filter-label {
    color: var(--color-gray-dark);
}

.filter-input-text {
    color: var(--color-gray-darken);
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: .5rem;
}

.mat-input-element {
    caret-color: var(--color-gray-darken);
}

.form-input--skill {
    width: 100%;
    color: var(--color-gray-darken);
    font-size: 1.5rem;
    background-color: transparent;
}

.mat-form-field {
    font-family: inherit;
}

.add-skill-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-yellow-dark);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

.text-error {
    color: #b71213;
    padding-bottom: .5rem;
}

.add-skill-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--color-gray-dark);
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-all-sides);
    cursor: pointer;
}

.add-skill-btn__text {
    color: var(--color-gray-light);
}

.mat-elevation-z8 {
    width: 100%;
    background-color: var(--color-gray-darken);
    color: var(--clor-gray-light);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.paginator {
    width: 100%;
    background-color: var(--color-gray-darken);
    color: var(--clor-gray-light);
    border-radius: 0 0 1rem 1rem;
}

::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
}

::ng-deep tr.mat-header-row {
    background-color: #2b3843;
}
