.update-project-skill-box {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    padding: 1rem;
    border: 5px solid var(--color-gray-medium);
    border-radius: 1rem;
}

.skill-box__skill {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    justify-content: start;
    gap: 5rem;
    align-items: center;
    padding: .5rem 0;
}

.skill-text {
    color: var(--color-gray-light);
    border: 3px solid var(--color-gray-medium);
    border-radius: 1rem;
    padding: .5rem 2rem !important;
}

::ng-deep .mat-select-panel {
    background-color: var(--color-gray-darken);
}

.mat-option {
    font-family: inherit;
    color: var(--color-gray-light);
}

.form-input {
    width: 100%;
    color: var(--color-gray-light);
    font-size: 1.2rem;
    font-family: inherit;
}

.form-input--target {
    width: 6rem;
}

.info__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 10rem;
    padding: .5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: 1px solid var(--color-gray-medium);
    background-color: var(--color-green-dark);
}

.info__text {
    color: var(--color-gray-light);
}

.text-days {
    font-size: .7rem;
    margin-left: .2rem;
}

.btn {
    border-radius: 1rem !important;
    background-color: inherit;
    font-size: 1.2rem;
    color: var(--color-gray-light);
    border: 1px solid var(--color-gray-darken);
    font-family: inherit;
}

.btn--add-employee {
    background-color: var(--color-gray-darken);
}

.btn--save {
    background-color: var(--color-gray-darken);
}

.btn--cancel {
    width: 7rem;
}

.skill-box__employee {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem .5rem 1rem;
    border: 1px solid var(--color-gray-medium);
    border-radius: 1rem;
}

::ng-deep .mat-slider-track-background {
    background-color: var(--color-green-dark);
}

::ng-deep .mat-slider-track-fill {
    background-color: var(--color-red-dark) !important;
}

::ng-deep .mat-slider-thumb,
::ng-deep .mat-slider-thumb-label {
    background-color: var(--color-gray-darken) !important;
}

::ng-deep .mat-slider-thumb-label-text {
    color: var(--color-gray-light) !important;
}

.hint__free-hours {
    font-size: 1rem;
    margin-left: .5rem;
}

.skill-box__employees-container {
    display: grid;
    gap: 1rem;
    align-items: flex-start;
    padding: .5rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 0;
    max-height: 20rem;
}

.skill-box__action-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 3rem;
}
