.wrapper {
    height: 20rem;
    color: var(--color-gray-line-light);
    padding: 1rem;
    background-color: inherit;
}

::ng-deep .sc-month__day,
::ng-deep .sc-month__caption,
::ng-deep .sc-month__week-caption {
    border: none !important;
}

::ng-deep .sc-month__day {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid transparent !important;
}
::ng-deep .sc-month__day:hover {
    border: 1px solid var(--color-gray-medium) !important;
}

::ng-deep .sc-month__day--selected {
    background-color: var(--color-gray-dark) !important;
}

::ng-deep .sc-month__day--today {
    background-color: var(--color-red-dark) !important;
}

::ng-deep .sc-month {
    font-size: 1.5rem !important;
}