<div class="sidenav">
    <div class="sidenav__body">
        <div class="sidenav__logo-box">
            <img class="logo__img" src="../../../../assets/logo_light.png" alt="logo">
        </div>
        
        <mat-sidenav-container class="sidenav__action-box">
            <mat-nav-list>
        
                <a mat-list-item class="sidenav__item" routerLink="dashboard">
                    <mat-icon class="sidenav__icon">dashboard</mat-icon>
                    <h4 class="sidenav__text">Dashboard</h4>
                </a>
        
                <a mat-list-item class="sidenav__item"  routerLink="projects">
                    <mat-icon class="sidenav__icon">web</mat-icon>
                    <h4 class="sidenav__text">Projects</h4>
                </a>
                <a mat-list-item class="sidenav__item"  routerLink="employees">
                    <mat-icon class="sidenav__icon">supervisor_account</mat-icon>
                    <h4 class="sidenav__text">Employees</h4>
                </a>
        
                <a mat-list-item class="sidenav__item"  routerLink="skills" *ngIf="this.user?.isAdmin">
                    <mat-icon class="sidenav__icon">poll</mat-icon>
                    <h4 class="sidenav__text">Skills</h4>
                </a>
            
            </mat-nav-list>
        </mat-sidenav-container>
    </div>

    <div class="sidenav__footer">
        <div class="logout-box" (click)="onLogout()">
            <h5 class="text-logout">Logout</h5>
            <mat-icon class="logout-icon">logout</mat-icon>
        </div>

        <div class="settings-box">
            <mat-icon class="sidenav__icon sidenav__icon--footer" title="Settings">settings</mat-icon>
        </div>
    </div>
</div>


