.sidenav {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    align-content: space-between;
    height: 100%;
    background-color: var(--color-gray-darken);
    padding-left: 1rem;
}

.sidenav__body {
    display: grid;
    gap: 7rem;
}

.sidenav__item {
    margin-bottom: .2rem;
    border-radius: .7rem;
    overflow: hidden;
}

.sidenav__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav__action-box {
    background-color: inherit;
}

.logo__img {
    height: 7rem;
}

.sidenav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.7rem;
    color: var(--color-gray-light);
    font-size: 1.8rem;
}
.sidenav__icon--footer {
    margin: 0;
    font-size: 2.3rem;
    cursor: pointer;
}

.sidenav__text {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-gray-light);
}

.sidenav__footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    width: 80%;
}

.logout-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: center;
    gap: 1rem;

    cursor: pointer;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}
.logout-box:hover {
    border: 1px solid var(--color-gray-light);
}
.logout-box:active {
    border: 1px solid var(--color-yellow-dark);
}

.text-logout {
    text-transform: uppercase;
    font-weight: 400;
    align-self: center;
    color: var(--color-gray-light);
}

.logout-icon {
    color: var(--color-gray-light);
    font-size: 2.3rem;
}

.settings-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
    border-top: 1px solid var(--color-gray-light);
}