.single-project {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray-dark);
}

.single-project__content {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray-dark);
    margin-bottom: 3rem;
}

.header-side__left {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.header-side__left-infos {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
    margin-bottom: 1rem;
}

.status-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-gray-medium);
    border-radius: 1rem;
}

.header-side__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header__infos {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.info__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.info__box--target {
    background-color: var(--color-gray-darken);
}

.info__box--complete {
    background-color: var(--color-green-dark);
}

.header-text {
    color: var(--color-gray-light);
}

.header-text--name {
    padding: 2rem 2rem 0 2rem;
    color: var(--color-yellow-dark);
}

.header-text-msg {
    color: var(--color-red-dark);
}

.skills-heding-text {
    color: var(--color-gray-light);
    padding: 0 0 2rem 1rem;
}

.single-project__body {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    padding: 2rem;
}

.body__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 2rem;
}

.projects-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: var(--shadow-all-sides);
}

.projects-btn--return {
    width: 15%;
    box-shadow: none;
}

.return-text {
    color: var(--color-gray-darken);
    text-transform: uppercase;
}
.return-text:hover {
    color: var(--color-yellow-dark);
}

.projects-btn--end {
    background-color: var(--color-red-dark);
    margin-bottom: 1rem;
}

.projects-btn--update {
    background-color: var(--color-blue-medium);
}

.btn-text {
    color: var(--color-gray-light);
    text-transform: uppercase;
}

.header-side__right {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 1rem;
}

.reporter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.reporter-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    justify-content: start;
    align-items: center;
    background-color: var(--color-gray-medium);
    padding: 1rem;
    border-radius: 1rem;
}

.management-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    justify-content: start;
    align-items: center;
    background-color: var(--color-gray-medium);
    padding: 1rem;
    border-radius: 1rem;
}

.description-box {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    justify-content: start;
    align-items: flex-start;
    min-height: 7rem;
    background-color: var(--color-gray-medium);
    padding: 1rem;
    border-radius: 1rem;
}

.body__skills {
    display: grid;
    gap: 2rem;
    max-height: 40rem;
    padding: 2rem;
    border: 1px solid var(--color-gray-medium);
    border-radius: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body__skill-box {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background-color: var(--color-gray-darken);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.skill-box__employees-container {
    display: grid;
    gap: .3rem;
    align-items: flex-start;
    padding: .5rem 1rem;
    max-height: 10rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.skill-box__employee {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: start;
}

.skill-box__header-info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 1rem;
}

.skill-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    padding: .5rem;
    margin-left: auto;
    border-radius: 1rem;
}

.hours-text {
    font-size: 1rem;
}

.header-text--employee {
    color: var(--color-blue-medium);
    align-self: center;
}

.skill-box-info--target {
    border: 1px solid var(--color-gray-dark);
}

.skill-box-info--complete {
    background-color: var(--color-gray-dark);
}

.skill-box-info__text {
    color: var(--color-gray-light);
}

.text-days {
    font-size: 1rem;
}