<div class="projects-btn  projects-btn--return" (click)="returnToProjects()"> 
    <h4 class="return-text">&#8678;&nbsp;Go to projects</h4>  
</div>

<div class="single-project">
    <h1 class="header-text header-text--name">{{ project.name }}</h1>

    <div class="single-project__content">
        <div class="header-side__left">

            <div class="header-side__left-infos">
                <div class="status-box">
                    <h5 class="header-text">Status:&nbsp;</h5>
                    <h3 class="header-text">{{ project.status }}</h3>
                </div>
                
                <div class="status-box">
                    <h5 class="header-text">Current Status:&nbsp;</h5>
                    <h3 class="header-text">{{ project.currentStatus }}</h3>
                </div>
            </div>
    
            <div class="header__infos">
                <div class="info__box info__box--target">
                    <h4 class="header-text">Target</h4>
                    <h2 class="header-text header-text--action">{{ project.target }}<span class="text-days">&nbsp;days</span></h2>
                </div>
                
                <div class="info__box info__box--complete"
                    [ngStyle]="{'background-color': getCompleteBoxColor(project.complete)}">
                    <h4 class="header-text">Complete</h4>
                    <h2 class="header-text header-text--action">{{ project.complete }}<span class="text-days">&nbsp;days</span></h2>
                </div> 
            </div>
        </div>
    
        <div class="single-project__body">
    
            <div class="body__header">
                <div class="header-side__right">
    
                    <div class="reporter">
                        <div class="reporter-box">
                            <h5 class="header-text">Reporter:&nbsp;</h5>
                            <h3 class="header-text">{{ project.reporter.firstName }} {{ project.reporter.lastName }}</h3>
                        </div>
        
                        <div class="management-box">
                            <h5 class="header-text">Management:&nbsp;</h5>
                            <h3 class="header-text">
                                {{ project.managementTime }}h&nbsp;/ days&nbsp;(total: {{ project.target * project.managementTime }}h)
                            </h3>
                        </div>
                    </div>
        
                    <div class="description-box">
                        <h5 class="header-text">Description:&nbsp;</h5>
                        <p class="header-text">{{ project.description }}<p>
                    </div>
                    
                </div>
        
                <div class="header-side__actions"
                    *ngIf="this.project.reporter.id === this.user?.uid && this.project.status !== 'Ended'">
                    <div
                        class="projects-btn projects-btn--end"
                        (click)="changeProjectStatus()"
                        title="Stop Project">
                        <h5 class="btn-text">Stop Project</h5>
                    </div>
                     
                    <div
                        class="projects-btn projects-btn--update"
                        (click)="openUpdateProjectBox()"
                        title="Update Project"> 
                        <h5 class="btn-text">Update Project</h5>
                    </div>
                </div>
            </div>       
    
            <div class="body__content">
    
                <h3 class="skills-heding-text">Project required skills:</h3>
    
                <div class="body__skills">
    
                    <h4 class="header-text header-text-msg" *ngIf="!project.skillsBoxList.length">No skills added!</h4>
                    
                    <div class="body__skill-box" *ngFor="let skillBox of project.skillsBoxList">
    
                        <h3 class="header-text">{{ skillBox.skill.name }}</h3>
    
                        <div class="skill-box__employees-container">
    
                            <h5 class="header-text" *ngIf="!skillBox.employeesList.length">Nobody works on this skill!</h5>
    
                            <div class="skill-box__employee" *ngFor="let skillBoxEmployee of skillBox.employeesList">
                                <h5 class="header-text header-text--employee">{{ skillBoxEmployee.firstName }}  {{ skillBoxEmployee.lastName }}&nbsp;&#8594;</h5>
                                <h4 class="header-text header-text--employee-time">{{ skillBoxEmployee.currentWorkHours }}&nbsp;<span class="hours-text">hours</span></h4>
                            </div>
                            
                        </div>
    
                        <div class="skill-box__header-info">
                            <div class="skill-box-info skill-box-info--target">
                                <h6 class="skill-box-info__text">Target</h6>
                                <h4 class="skill-box-info__text skill-box-info__text--action">
                                    {{ skillBox.target }}<span class="text-days">&nbsp;hours</span>
                                </h4>
                            </div>
    
                            <div class="skill-box-info skill-box-info--complete"
                                [ngStyle]="{'background-color': getCompleteBoxColor(skillBox.complete)}">
                                <h6 class="skill-box-info__text">Complete</h6>
                                <h4 class="skill-box-info__text skill-box-info__text--action">
                                    {{ skillBox.complete }}<span class="text-days">&nbsp;days</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            </div>
        </div>
    </div>
</div>
