.skill-box__employee {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8rem;
    justify-content: start;
    align-items: center;
    padding: .2rem 2rem;
    background-color: var(--color-gray-medium);
    border-radius: 1rem;
}

::ng-deep .mat-slider-track-background {
    background-color: var(--color-green-dark);
}

::ng-deep .mat-slider-track-fill {
    background-color: var(--color-red-dark) !important;
}

::ng-deep .mat-slider-thumb,
::ng-deep .mat-slider-thumb-label {
    background-color: var(--color-gray-darken) !important;
}

::ng-deep .mat-slider-thumb-label-text {
    color: var(--color-gray-light) !important;
}

.hint__free-hours {
    font-size: 1rem;
}

.btn {
    border-radius: 1rem !important;
    background-color: inherit;
    font-size: 1rem !important;
    color: var(--color-gray-light);
    border: 1px solid var(--color-gray-darken);
    font-family: inherit;
}

.update-icon {
    font-size: 2rem !important;
}

.btn--update {
    background-color: var(--color-gray-darken);
}

.employee-name__text {
    color: var(--color-gray-light);
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--color-gray-light);
}
