<div class="skill-box__employee">

    <div class="skill-box__employee-options">
      <h4 class="employee-name__text">{{ this.employee.firstName }}&nbsp;{{ this.employee.lastName }}</h4>
  
      <div class="select-hours">
        <mat-slider
          thumbLabel
          step="0.5"
          tickInterval="1"
          min="0"
          [max]="employee.freeTime"
          [(ngModel)]="employee.currentWorkHours"
          (valueChange)="saveWorkHours($event)">
        </mat-slider>
        <mat-hint class="hint__free-hours">Free hours: {{ this.employee.currentFreeTime }}</mat-hint>
      </div>
    </div>

    <mat-button-toggle
      aria-label="Update Hours"
      title="Update Hours"
      class="btn btn--update"
      (click)="updateEmployee(employee)">
      Update
    </mat-button-toggle>

    <mat-icon class="close-icon" title="Remove Employee" (click)="onDeleteEmployee(employee)">close</mat-icon>

</div>
