<div class="projects-btn  projects-btn--return" (click)="returnToEmployees()"> 
  <h4 class="return-text">&#8678;&nbsp;Back to employees</h4>  
</div>
<div class="profile-container">
  <div class="profile-container__heading">
      <img class="user-img" src="../../../../assets/photoM2.jpg" alt="user-photo">

      <h2 class="text-user-name">
          {{ this.employee?.firstName }}&nbsp;{{ this.employee?.lastName }}
          <h5 class="text-user-position">{{ this.employee?.position }}</h5>
      </h2>  
  </div>

  <div class="profile-container__body">
      <div class="boss__relation">
          <div class="relation__label">
              <mat-icon class="relation__icon">visibility</mat-icon>
              <h4 class="relation__text">Direct Manager:</h4>
          </div>
          <div class="boss__relation-person">
              <img
              class="realtion__img"
              src="../../../../assets/photoW.jpg"
              alt="user-photo"
              >
              <h3 class="relation__text--name">
                  {{ this.employee?.directManagerFn }}  {{ this.employee?.directManagerLn }}
              </h3>
          </div> 
      </div>
  </div>

  <div class="profile-container__body">
      <div class="boss__relation">
          <div class="relation__label">
              <mat-icon class="relation__icon">shopping_bag</mat-icon>
              <h4 class="relation__text">Employee Skills:</h4>
          </div>
          <div class="boss__relation-person">
              <h3 class="relation__text--name">
                  {{ this.employee?.skills }}
              </h3>
          </div> 
      </div>
      <div class="view-projects-btn view-projects-btn--all"> 
        <h5 class="view-projects-btn__text">Add a skill</h5>  
     </div>
  </div>

  <div class="profile-container__body">
      <div class="boss__relation">
          <div class="relation__label">
              <mat-icon class="relation__icon">work</mat-icon>
              <h4 class="relation__text">Currently working on:</h4>
          </div>
          <div class="boss__relation-person" *ngIf="!this.employee.currentProjects">
              <h3 class="relation__text--name">
                  No Active Projects
              </h3>
              <h3 class="relation__text--name">
                  {{ this.employee?.currentProjects }}
              </h3>
          </div> 
          <div class="boss__relation-person">
              <h3 class="relation__text--name">
                  {{ this.employee?.currentProjects }}
              </h3>
          </div> 
      </div>
  </div>
</div>