<div class="dashboard-container">

    <div class="dashboard-container__projects">
        <app-dashboard-projects-box></app-dashboard-projects-box>
    </div>

    <div class="dashboard-container__user">
        <app-dashboard-profile-box></app-dashboard-profile-box>
    </div>
   
</div>