.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 50rem));
    justify-content: center;
    gap: 2rem;
    margin: 0 2rem;
}

.dashboard-container__projects,
.dashboard-container__user,
.dashboard-container__notes
.dashboard-container__calendar {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-all-sides);
}

.dashboard-container__projects {
    background-color: var(--color-gray-medium);
}

.dashboard-container__user {
    padding: 0;
    box-shadow: none;
}
