.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  min-height: 100vh;
}

.container__body {
  display: grid;
  grid-template-rows: max-content 1fr;
  display: block;
  background-color: var(--color-gray-light);
  box-shadow: var(--shadow-all-sides);
  border-radius: 2rem 0 0 2rem;
  padding: 1rem 2rem;
}

.container__body-header {
  height: 6.5rem;
}

.container__body-hero {
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray-line-light);
  border-top: 1px solid var(--color-gray-line-light);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 83vh;
}
