<div class="container">
    
  <div class="container__sidenav">
      <app-sidenav></app-sidenav>
  </div>

  <div class="container__body">

      <div class="container__body-header">
          
          <app-header></app-header>

      </div>

      <div class="container__body-hero">

          <router-outlet></router-outlet>

      </div>

  </div>

</div>
