<div class="header-container">

    <mat-expansion-panel class="user-info-box" 
        (opened)="onPanelOpenState()"
        (closed)="panelOpenState = false">

        <mat-expansion-panel-header>

            <mat-panel-title class="user-info-box__title">

                <div class="name-box">
                    <img class="user-info__img" src="{{ this.user?.avatarURL }}" alt="user-photo">

                    <h2 class="text-user-name">
                        {{ this.user?.firstName }}&nbsp;{{ this.user?.lastName }}
                        <h5 class="text-user-position">{{ this.user?.position }}</h5>
                    </h2>                    
                </div>

            </mat-panel-title>

            <mat-panel-description class="user-info-box__description">
                
                <!-- Text text text -->

            </mat-panel-description>

        </mat-expansion-panel-header>
        
        <app-user-info-box></app-user-info-box>
                
    </mat-expansion-panel>
    
</div>
