.header-container {
    position: relative;
    display: grid;
    grid-template-columns: max-content;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 100;
}

::ng-deep .mat-expansion-panel-header {
    padding: .5rem 1rem !important;
}

.user-info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-gray-darken);
    border-radius: 1rem;
    padding: 0;
}

.name-box {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    align-items: center;
}

.user-info__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.text-user-name {
    font-weight: 300;
}
.text-user-position {
    text-transform: uppercase;
    color: var(--color-yellow-dark);
}
