.profile-container {
  display: grid;
  grid-template-rows: max-content 1fr;

  height: 100%;

  border-radius: 1rem;
  background-color: var(--color-gray-white);
}

.profile-container__heading {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  align-items: center;

  padding: 1rem;
  margin: 1rem;
}

.user-img {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
}

.text-user-position {
  text-transform: uppercase;
  color: var(--color-yellow-dark);
}

.profile-container__body {
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 1rem;
  margin: 1rem;

  border: 1px solid var(--color-gray-light);
}

/*-------------------------------*/

.boss__relation {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
}

.team__relation {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
  align-items: flex-start;
}

.relation__label {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 1rem;
}

.boss__relation-person {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  cursor: pointer;
}

.relation__icon {
  color: var(--color-gray-dark);
}

.relation__text {
  color: var(--color-gray-darken);
}

.relation__text--name {
  font-weight: 300;
  color: var(--color-gray-darken);
}

.relation__text--self {
  font-weight: 300;
  color: var(--color-green-dark);
}

.relation__text--nobody {
  font-weight: 300;
  color: var(--color-red-dark);
}

.realtion__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.team__relation-list {
  display: grid;
  gap: .3rem;

  max-height: 14rem;
  width: 100%;

  padding-right: 1rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.team__relation-item {
  display: grid;
  grid-template-columns: repeat(2, max-content);  
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.team__relation-item:hover {
  border: 1px solid var(--color-gray-light);
}

.chart {
  background-color: var(--color-gray-medium);
  border-radius: 1rem;
}

.charts-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .ngx-charts {
  fill: var(--color-gray-light) !important;
  font-family: 'Montserrat', sans-serif !important;
}