<div class="profile-container">
  <div class="profile-container__heading">
      <img class="user-img" src="../../../../assets/photoM2.jpg" alt="user-photo">

      <h2 class="text-user-name">
          {{ this.user?.firstName }}&nbsp;{{ this.user?.lastName }}
          <h5 class="text-user-position">{{ this.user?.position }}</h5>
      </h2>  
  </div>

  <div class="profile-container__body">
      <div class="boss__relation">
          <div class="relation__label">
              <mat-icon class="relation__icon">visibility</mat-icon>
              <h4 class="relation__text">Direct Manager:</h4>
          </div>
          <div class="boss__relation-person">
              <img
              class="realtion__img"
              src="../../../../assets/photoW.jpg"
              alt="user-photo"
              *ngIf="!this.user?.selfManaged"
              >
              <h3 class="relation__text--name" *ngIf="!this.user?.selfManaged">
                  {{ this.user?.directManagerFn}}
                  {{ this.user?.directManagerLn}}
              </h3>
              <h3 class="relation__text--self" *ngIf="this.user?.selfManaged">
                  Self-Managed
              </h3>
          </div> 
      </div>

      <div class="team__relation">

          <div class="relation__label">
              <mat-icon class="relation__icon">people</mat-icon>
              <h4 class="relation__text">My Team:</h4>
          </div>
          <mat-list class="team__relation-list">

              <!-- <h3 class="relation__text--nobody" *ngIf="!this.user?.subordinates.length">No subordinates!</h3>  -->

              <mat-list-item class="team__relation-item" *ngFor="let sub of this.user?.subordinates">
                  <img class="realtion__img" src="../../../../assets/photoW.jpg" alt="user-photo">
                  <h3 class="relation__text--name">
                      {{ sub.firstName }}&nbsp;{{ sub.lastName }}
                  </h3>
              </mat-list-item>

          </mat-list>               
      </div>

      <!-- <div class="chart">
          <ngx-charts-pie-grid 
              class="charts-box"
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [label]="label">
          </ngx-charts-pie-grid>
      </div> -->

  </div>
</div>