<div class="create-project-box">

  <div class="crate-project-box__header">

    <div class="form-title">
      Create Employee:
    </div>

    <div class="avatar">
      <img class="img-avatar" src="{{avatarUrl}}">
      <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


      <div class="create-project-box__inputs">
        <mat-form-field appearance="fill" class="form-input form-input--email">
            <mat-label>Employee email</mat-label>
            <input matInput type="email" name="email" formControlName="email">
            <mat-error>Missing or invalid email.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--password">
            <mat-label>Employee Password</mat-label>
            <input matInput type="password" name="password" formControlName="password">
            <mat-error>Missing password.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--firstName">
            <mat-label>Employee First Name</mat-label>
            <input matInput type="text" name="firstName" formControlName="firstName">
            <mat-error>First Name is required!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="form-input form-input--lastName">
            <mat-label>Employee Last Name</mat-label>
            <input matInput type="text" name="lastName" formControlName="lastName">
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input form-input--position">
            <mat-label>Employee Position</mat-label>
            <input matInput type="text" name="position" formControlName="position">
            <mat-error>Employee Position is required!</mat-error>
        </mat-form-field>

        <div class="boss-box">
          <mat-form-field class="form-input form-input--boss">
            <mat-label>Direct Manager</mat-label>
            <mat-select (selectionChange)="saveSelectedBoss($event.value)" (click)="getUsers()">
              <mat-option [value]="user" *ngFor="let user of currentUsersList">{{ user.firstName }} {{ user.lastName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="skill-box__skill">
          <mat-form-field class="form-input form-input--skill">
            <mat-label>Skill</mat-label>
            <mat-select (selectionChange)="saveSelectedSkill($event.value)" (click)="getSkills()">
              <mat-option [value]="skill" *ngFor="let skill of currentSkillsList">{{ skill.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button class="btn btn--save" [disabled]="registerForm.invalid">Create</button>
      </div>

    </form>

  </div>
  
</div>