<div class="user-info-box__content">
    <div class="user-info-box__relations">
        <div class="boss__relation">
            <div class="relation__label">
                <mat-icon class="relation__icon">visibility</mat-icon>
                <h4 class="relation__text">Direct Manager:</h4>
            </div>
            <div class="boss__relation-person">
                <img
                class="realtion__img"
                src="{{ this.user?.directManager.avatarURL }}"
                alt="user-photo"
                *ngIf="!this.user?.selfManaged"
                >
                <h3 class="relation__text--name" *ngIf="!this.user?.selfManaged">
                    {{ this.user?.directManager.firstName }}
                    {{ this.user?.directManager.lastName }}
                </h3>
                <h3 class="relation__text--self" *ngIf="this.user?.selfManaged">
                    Self-Managed
                </h3>
            </div> 
        </div>

        <div class="team__relation">
            <div class="relation__label">
                <mat-icon class="relation__icon">people</mat-icon>
                <h4 class="relation__text">My Team:</h4>
            </div>
            <mat-list class="team__relation-list">

                <h3 class="relation__text--nobody" *ngIf="!this.user?.subordinates.length">No subordinates!</h3> 

                <mat-list-item class="team__relation-item" *ngFor="let sub of this.user?.subordinates">
                    <img class="realtion__img" src="{{ sub?.avatarURL }}" alt="user-photo">
                    <h3 class="relation__text--name">
                        {{ sub.firstName }}&nbsp;{{ sub.lastName }}
                    </h3>
                </mat-list-item>

            </mat-list>               
        </div>
    </div>

    <div class="project-box">
        <h3 class="project-box__text--no" *ngIf="!ownProjects?.length">No Active Projects!</h3>

        <mat-list class="project-box__list" *ngIf="ownProjects?.length">

            <mat-list-item class="project-box__item" *ngFor="let ownProject of ownProjects">
                <div class="project-box__item--inner">
                    <h4 class="project-box__text--name">{{ ownProject?.name }}</h4>
                    <h6 class="project-box__text--status">{{ ownProject?.status }}</h6>
                </div>
            </mat-list-item>

        </mat-list>
    </div>

    <app-calendar-box></app-calendar-box>

</div>   
