.user-info-box__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.user-info-box__relations {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    align-content: flex-start;
    border-radius: 1rem;
    padding: 1.6rem;
    box-shadow: var(--shadow-all-sides-inset);
}

.boss__relation {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
}
.team__relation {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.relation__label {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 1rem;
}

.boss__relation-person {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.relation__icon {
    color: var(--color-gray-line-light);
}

.relation__text {
    color: var(--color-gray-line-light);
}

.relation__text--name {
    font-weight: 300;
    color: var(--color-gray-light);
}

.relation__text--self {
    font-weight: 300;
    color: var(--color-green-dark);
}

.relation__text--nobody {
    font-weight: 300;
    color: var(--color-red-dark);
}

.realtion__img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.team__relation-list {
    display: grid;
    gap: .5rem;
    height: 13rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid var(--color-gray-line-dark);
    border-bottom: 1px solid var(--color-gray-line-dark);
}

.team__relation-item {
    display: grid;
    grid-template-columns: repeat(2, max-content);  
    cursor: pointer;
}

.project-box {
    border-radius: 1rem;
    padding: 1.6rem 0;
    box-shadow: var(--shadow-all-sides-inset);
}

.project-box__list {
    display: grid;
    align-items: flex-start;
    gap: .5rem;
    max-height: 18rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-box__item--inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-dark);
    border-radius: 1rem;
    cursor: pointer;
}

.project-box__text--name {
    font-weight: 300;
    margin-right: 2rem;
}

.project-box__text--no {
    color: var(--color-yellow-dark);
    text-align: center;
}

.project-box__text--status {
    text-transform: uppercase;
    color: var(--color-green-dark);
    justify-self: end;
}
