<div class="dashboard-container">

  <div class="dashboard-container__projects">
      <app-single-employee-profile></app-single-employee-profile>
  </div>

  <!-- <div class="dashboard-container__user">
      <app-single-employee-projects></app-single-employee-projects>
  </div> -->
 
</div>