.error-page {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../../../assets/Error-404-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.btn {
    margin-top: 20rem;
    background-color: var(--color-gray-darken);
}