/* css global variables */
:root {
    --color-gray-line-dark: #2b3843;
    --color-gray-line-light: #bdc9d5;

    --color-gray-white: #f1f3f6;
    --color-gray-light: #d2dae2;
    --color-gray-medium: #485460;
    --color-gray-dark: #32414d;
    --color-gray-darken: #1e272e;
    
    --color-yellow-light: #ffc048;
    --color-yellow-dark: #d4a800;
    --color-red-dark: #ee5253;

    --color-green-dark: #10ac84;

    --color-blue-medium: #2d98da;
    --color-blue-light: #8fa6c7;

    --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    --shadow-box: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
    --shadow-all-sides: 0 .1rem .7rem 0 rgba(0,0,0,0.6);
    --shadow-all-sides-inset: inset 0 .1rem .7rem 0 rgba(0,0,0,0.6);
    
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-scrollbar) transparent;
    scrollbar-width: thin;
    max-height: 100vh;
}
body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--color-gray-darken);
    color: var(--color-gray-darken) !important;
    max-height: 100vh;
}

::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent; 
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-darken); 
}
  
::selection {
    background-color: var(--color-gray-dark);
    color: #fff; 
}


/* Typography */

.mat-typography  h1,
.mat-typography  h2,
.mat-typography  h3,
.mat-typography  h4,
.mat-typography  h5,
.mat-typography  h6 {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0 !important;
    color: inherit;
}

.mat-typography  h1 {
    font-size: 2.4rem !important;
}
.mat-typography  h2 {
    font-size: 2.2rem !important;
}
.mat-typography  h3 {
    font-size: 1.8rem !important;
}
.mat-typography  h4 {
    font-size: 1.4rem !important;
}
.mat-typography  h5 {
    font-size: 1.2rem !important;
}
.mat-typography  h6 {
    font-size: .9rem !important;
}

.mat-list-base {
    padding-top: 0 !important;
}

mat-label {
    color: var(--color-gray-light);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--color-gray-darken) !important;
}

.mat-form-field-ripple {
    background-color: var(--color-gray-darken) !important;
}

.mat-form-field {
    font-family: inherit;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--color-gray-light);
}
.mat-option.mat-active {
    background: var(--color-gray-medium) !important;
}

.mat-select-panel {
    background-color: var(--color-gray-dark);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--color-gray-light);
}

.mat-paginator-icon {
    fill: var(--color-gray-medium) !important;
}
.mat-error {
    color: var(--color-red-dark);
}
