.projects-box {
    display: grid;
    grid-template-rows: max-content 47rem;
    gap: 2rem;
}
.projects-box__heading {
    padding: .5rem 2rem;
    border-bottom: 1px solid var(--color-gray-line-dark);
}

.projects-box__body {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.projects-box__pending {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-box__text {
    color: var(--color-gray-light);
}

.project-box__text--no {
    color: var(--color-yellow-dark);
    justify-self: center;
}

.projects-box__chart {
    border: 1px solid var(--color-gray-line-dark);
    border-radius: 1rem;
    padding: 1rem;
}

.chart-heading-text {
    color: var(--color-gray-line-light);
    font-weight: 300;
}

