.hero-container {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 2rem;
}

.hero-container__create-box {
  justify-self: center;
  width: 100%;

  background-color: var(--color-gray-dark);
  border-radius: 1rem;
}

.hero-container__body {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  margin-top: 6rem;;
}

.table-options {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  padding-left: .5rem;
}

.table-options__btns {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  align-items: center;
}

.view-projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;

  background-color: var(--color-gray-dark);
  padding: 0 1rem;
  border-radius: 1rem;

  cursor: pointer;
}

.view-projects-btn__text {
  color: var(--color-gray-light);
}

.filter-input {
  width: 100%;
}

.filter-label {
  color: var(--color-gray-dark);
}

.filter-input-text {
  color: var(--color-gray-darken);
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: .5rem;
}

.mat-input-element {
  caret-color: var(--color-gray-darken);
}

.mat-elevation-z8 {
  width: 100%;
  background-color: var(--color-gray-darken);
  color: var(--clor-gray-light);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.paginator {
  width: 100%;
  background-color: var(--color-gray-darken);
  color: var(--clor-gray-light);
  border-radius: 0 0 1rem 1rem;
}

::ng-deep .mat-paginator-range-label {
  margin: 0 !important;
}

.create-project-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--color-green-dark);

  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.create-project__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}

.create-text {
  color: #fff;
  text-transform: uppercase;
}

::ng-deep tr.mat-header-row {
  background-color: #2b3843;
}

::ng-deep .mat-table thead, .mat-table tbody, .mat-table tfoot, mat-header-row, mat-row, mat-footer-row, [mat-row]:hover {
  background-color: var(--color-gray-dark);
  cursor: pointer;
}
