<div class="hero-container">

   <div class="hero-container__body">
     
      <div class="table-options">
         <mat-form-field class="filter-input">
            <mat-label class="filter-label">Search by keyword</mat-label>
            <input matInput (keyup)="applyFilterManager($event)" class="filter-input-text">
         </mat-form-field>
 
         <div class="table-options__btns">
            <div class="view-projects-btn view-projects-btn--all" (click)="displayAllManagers()"> 
               <h5 class="view-projects-btn__text">All Managers</h5>  
            </div>
 
            <div class="create-project-box" (click)="openManagerCreate()">
               <svg class="create-project__icon">
                  <use xlink:href="../../../../assets/sprite.svg#icon-note-add"></use>
               </svg>  
               <h4 class="create-text">Create Manager</h4>  
            </div>
         </div>
      </div>
 
      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
       
         <ng-container matColumnDef="First Name">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
           <td mat-cell *matCellDef="let element" (click)="openUser(element.uid)"> {{element.firstName}} </td>
         </ng-container>
       
         <ng-container matColumnDef="Last Name">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
           <td mat-cell *matCellDef="let element">{{ element.lastName}}</td>
         </ng-container>

         <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
          </ng-container>
 
         <ng-container matColumnDef="Position">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
           <td mat-cell *matCellDef="let element">{{ element.position}}</td>
         </ng-container>
 
         <ng-container matColumnDef="Free Time">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Free Time</th>
           <td mat-cell *matCellDef="let element">{{ element.freeTime}}</td>
         </ng-container>

       
         <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
 
      </table>
 
      <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons class="paginator"></mat-paginator>
 
   </div>

  <div class="hero-container__body">
     
     <div class="table-options">
        <mat-form-field class="filter-input">
           <mat-label class="filter-label">Search by keyword</mat-label>
           <input matInput (keyup)="applyFilter($event)" class="filter-input-text">
        </mat-form-field>

        <div class="table-options__btns">
           <div class="view-projects-btn view-projects-btn--all" (click)="displayAllEmployees()"> 
              <h5 class="view-projects-btn__text">All Employees</h5>  
           </div>

           <div class="create-project-box" *ngIf="this.user?.isAdmin" (click)="openEmployeeCreate()">
              <svg class="create-project__icon">
                 <use xlink:href="../../../../assets/sprite.svg#icon-note-add"></use>
              </svg>  
              <h4 class="create-text">Create Employee</h4>  
           </div>
        </div>
     </div>

     <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let element" (click)="openEmployee(element.id)"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element" (click)="openEmployee(element.id)"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element" (click)="openEmployee(element.id)">{{ element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
          <td mat-cell *matCellDef="let element" (click)="openEmployee(element.id)">{{ element.position}}</td>
        </ng-container>

        <ng-container matColumnDef="Free Time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Free Time</th>
          <td mat-cell *matCellDef="let element" (click)="openEmployee(element.id)">{{ element.freeTime}}</td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     </table>

     <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons class="paginator"></mat-paginator>

  </div>

</div>